<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frank.sga">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.crusos.DatosProfesor"></activity>
        <activity android:name=".ui.mantUser.manteniminetoUser" />
        <activity android:name=".ui.crusos.ListaCursos" />
        <activity android:name=".ui.solicitudes.AgregaSolicirud" />
        <activity android:name=".ui.solicitudes.ListaSolicitudes" />
        <activity android:name=".ui.CalificacionProfesor.PerfilProfesor" />
        <activity android:name=".ui.CalificacionProfesor.CalificaProfesor" />
        <activity android:name=".ui.CalificacionProfesor.ListaProfesores" />
        <activity android:name=".MenuPrincipal" />
        <activity android:name="ui.crusos.DetalleCurso" /> <!-- android:name="" -->
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>